@import "../../../../config/breakpoints.css";

.section {
    margin-top: 48px;
    padding-left: 20px;
}

.title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    margin-bottom: 19px;
    color: #000;
    line-height: 24px;
}

.noSearchResultContainer {
    padding-right: 20px;
}

@media (--desktop) {

    .section {
        margin-top: 80px;
        padding-left: 127.5px;
        padding-right: 127.5px;
    }

    .title {
        font-size: 30px;
        letter-spacing: 1.25px;
        line-height: 35px;
        text-align: center;
        margin-bottom: 40px;

    }

    .noSearchResultContainer {
        padding-right: 0;
    }

}