@import "../../../../config/breakpoints.css";

.icons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.icon img {
    width: 30px;
    height: 24px;
    object-fit: contain;
}

@media (--desktop) {

    .icons {
        gap: 12px;
        margin-top: 12px;
    }

    .icon img {
        width: 40px;
        height: 31px;
    }
}